<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><b>Homework 1</b></p>
    <p>Getting started</p>
    <p><b>Homework 2</b></p>
    <p>Sorting and algorithm</p>
    <p><b>Homework 3</b></p>
    <p>Recursion and problem solving</p>
    <p><b>Homework 4</b></p>
    <p>Object oriented programming</p>
    <p><b>Homework 5</b></p>
    <p>Machine learning basics</p>
    <p><b>My favorite:</b></p>
    <p>My favorite assignment is homework 5: it feels rewarding to implement filters on actual photos.</p>
    
    </body>
</html>
