
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Introduction to Computing for Engineers and Applied Scientists</p>
    <p>Data Structures in Java</p>
    <p>University Writing</p>
    <p>Multivariable Calculus</p>
    <p>Physics</p>
    <p>Tolstoy and Dostoevsky</p>
    <p><b>My favorite:</b></p>
    <p>My favorite class is Tolstoy and Dostoevsky because I like Russian literature.</p>
    
    </body>
</html>
